.container {
  /* width: 950px; */
  background-color: silver;
  margin: 5px 10px 15px 10px;
  height: 93vh;
  padding: 10px;
}
.top-nav {
  height: 150px;
  background-color: green;
  margin: 5px 10px;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin: 9px;
}
.main {
  height: 440px;
  width: 700px;
  background-color: red;
  display: inline-block;
  width: 80%;
  padding: 15px;
  margin-top: 9px;
}
.sub-content {
  height: 200px;
  width: 220px;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: yellow;
  display: inline-block;
}
#advertisement {
  height: 120px;
  width: 680px;
  background-color: purple;
}
.main,
.side-nav {
  vertical-align: top;
}
